li.nav-item {
	cursor: pointer;
}
li.nav-item:hover {
	border-bottom: 1px dotted #000;
}
.selected {
	color: #777;
	border-bottom: 1px solid #777;
}
mat-sidenav {
    display: flex;
    overflow: visible;
}