<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" formControlName="name" 
                        	mask="S{17}" min="7"
                        	class="form-control" placeholder="Nome" 
                        	[patterns]="customPatterns"
                        	[ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Nome obrigat&oacute;rio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="email"
                        	class="form-control" placeholder="Email"
                        	[ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email obrigat&oacute;rio</div>
                            <div *ngIf="f.email.errors.email">Email deve ser v&aacute;lido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="phone" type="text"
                        	class="form-control" placeholder="Fone" 
                        	mask="(00) 0000-0000" [showMaskTyped]="false" 
                        	[ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Fone obrigat&oacute;rio</div>
                        </div>-->
                    </div>
                    <!-- <div class="flex-row">
		                <div class="flex-cell-padding">
		                  <mat-form-field>
		                    <input matInput placeholder="Fone" 
		                    	mask="(00) 0000-0000" 
		                    	formControlName="phone">prefix="+55" 
		                    <mat-hint><b>Mask: </b>(00) 0000-0000</mat-hint>
		                  </mat-form-field>
						</div>
					</div> -->
                    <div class="form-group">
                        <select formControlName="subject" 
                        	class="form-control"
                        	[ngClass]="{ 'is-invalid': submitted && f.subject.errors }"
                        >
                        	<option value="">Assunto</option>
                        	<option *ngFor="let subject of subjects" 
                        		value="{{subject.name}}">
                        			{{subject.name}}
                        	</option>
                        </select>
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                            <div *ngIf="f.subject.errors.required">Assunto obrigat&oacute;rio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="title"
                        	class="form-control" placeholder="Titulo"
                        	[ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Titulo obrigat&oacute;rio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea formControlName="body" maxlength="500"
                        	class="form-control" placeholder="Mensagem"
                        	[ngClass]="{ 'is-invalid': submitted && f.body.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                            <div *ngIf="f.body.errors.required">Mensagem obrigat&oacute;ria</div>
                        </div>
                        <div style="text-align: right">{{f.body.value.length}}/500</div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0 !important">
                        <button class="btn btn-primary" 
                        	[disabled]="messageForm.invalid">ENVIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>