/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
div.jumbotron {
	border: 1px solid #000;
	border-radius: 7px;
	margin: 17px 0 17px 0;
	min-height: 377px;
	background: #fff;
	padding: 17px;
}