div#messages {
	float: left;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 17px 47px 0 0;
	min-height: 407px;
	min-width: 20%;
	max-width: 251px;
	text-overflow: hidden;
}
div#message-detail {
	float: left;
	margin: 17px 0 17px 0;
	border-radius: 7px;
	border: 1px solid #ccc;
	max-width: 97%;
	min-width: 74.77%;
	min-height: 407px;
	padding: 7px;
}
.selected {
  background-color: #777 !important;
  color: #fff;
}
.messages {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%	;
  float: left;
  text-align: center;
}
.messages li {
  float: left;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  margin: 0;
  margin-bottom: 7px;
  padding: .3em 0;
  min-height: 1.7em;
  border-radius: 7px;
}
.messages li.selected:hover {
  background-color: #000 !important;
  color: white;
}
.messages li:hover {
  color: #fff;
  background-color: #000;
  left: .1em;
}
.messages .text {
  position: relative;
  top: -3px;
}
.messages .badge {
  font-size: small;
  padding: 0.7em;
  line-height: 1em;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}