<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap 
	fxLayoutGap="0.5%" fxLayoutAlign="center"
>
	<div fxFlex="30%" id="messages">
		<!-- <h5>Messages</h5> -->
		<ul class="messages">
			<li *ngFor="let message of messages"
				[class.selected]="message === selectedMessage"
				(click)="onSelect(message)">
				<div class="badge">{{message.title}}</div>
				<div>{{message.createdAt | date: 'dd/MM/yyy hh:mm'}}</div>
			</li>
		</ul>
	</div>
	<div fxFlex="70%" id="message-detail">
		<app-dashboard-detail [message]="selectedMessage"
			(getMessages)="refreshMessages($event)">
		</app-dashboard-detail>
	</div>
</div>